body {
  text-align: center;
  font-size: 14pt;
}

.output {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 20px;
  a {
    color: purple;
    text-decoration: none;
  }
  a :hover {
    font-weight: bold;
  }
}

.inputUserName {
  #usernameInput {
    font-size: 20pt;
    color: tomato;
    text-align: center;
  }
  #usernameLabel {
    font-size: 14pt;
  }
  .btn {
    height: 50px;
    width: 100px;
    font-size: 14pt;
    margin-bottom: 8px;
  }
}

.repoBox {
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  a {
  text-decoration: none;
  color: tomato;
  }
  a :hover {
    font-weight: bold;
  }
}
